<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
        
	<!-- 引入db.properties文件 -->
	<context:property-placeholder location="classpath:db.properties"/>
	<!-- 定义一个jdbc数据源，创建一个驱动管理数据源的bean -->
	<bean id="jdbcDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driver}"></property>
		<property name="url" value="${jdbc.url}"></property>
		<property name="username" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>
	
	<!-- 创建一个sql会话工厂 bean,指定数据源 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 指定数据源 -->
		<property name="dataSource" ref="jdbcDataSource"></property>
		<!-- 类型别名包，引入com.bishe.safahome.bean下的所有类 -->
		<property name="typeAliasesPackage" value="com.bishe.safehome.bean"></property>
		<!-- 指定sql映射XML文件的路径 -->
		<property name="mapperLocations" value="classpath:com/bishe/safehome/mapper/*Mapper.xml"></property>
	</bean>
	
	<!-- 自动扫描映射接口 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" scope="prototype">
		<!-- 指定sql会话工厂 -->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
		<!-- 指定基础包，即自动扫描com.bishe.safahome.dao这个包下的所有接口类 -->
		<property name="basePackage" value="com.bishe.safehome.dao"></property>
	</bean>
	
	<!-- 创建一个sqlSession对象 -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory"></constructor-arg>
	</bean>
	
	<!-- 自动扫描组件 -->
	<context:component-scan base-package="com.bishe.safehome">
		<context:exclude-filter type="aspectj" expression="com.bishe.safehome.dao.*"/>
	</context:component-scan>
	<aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>

</beans>